#footer_bg{
    background-color:black ;
}
.footer_head{
    color: white;
    padding: 2%;
}

.quick_links>ul{
    list-style: none;
    padding: 5%;
    font-size: clamp(1.4rem, 1.9rem, 1.1rem);
    text-transform: capitalize;

}
.quick_links>ul>li>a{
    text-decoration: none !important;
    color: white;

}

.footer_contact{
    color: white;
    padding: 5%;    
}
.footer_contact>i{
    margin-bottom: 5%;
}